<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">


<f:be.container>
    <div class="module-body t3js-module-body">

        <h1><f:translate key="tx_simplelog404_domain_model_logentry.title"/></h1>
        <div class="row row-cols-auto mb-4">
            <div class="col">
                <be:link.newRecord class="btn btn-primary" table="sys_redirect" >
                    <f:translate key="LLL:EXT:redirects/Resources/Private/Language/locallang_module_redirect.xlf:redirect_create"/>
                </be:link.newRecord>
            </div>
        </div>

        <table class="tx_simplelog404 table table-striped">
            <tr>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.requesturl"/>
                </th>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.message"/>
                </th>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.hitcount"/>
                </th>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.lasthit"/>
                </th>
                <th>
                </th>
            </tr>
            <f:for each="{logEntries}" as="logEntry">
                <tr>
                    <td width="50%">
                        <span class="small">{logEntry.host}</span><br>
                        <f:form.textfield  value="{logEntry.requesturlpath}" class="form-control mt-2" readonly="true" />
                    </td>
                    <td>
                        {logEntry.message}
                    </td>
                    <td>
                        {logEntry.hitcount}
                    </td>
                    <td>
                        <f:format.date format="d.m.Y H:i">{logEntry.lasthit}</f:format.date>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{logEntry.requesturl}" title="{logEntry.requesturl}" target="_blank">
                            <core:icon identifier="actions-eye" size="small" />
                        </a>
                        <a class="btn btn-default" href="{logEntry.actionurls.delete}">
                            <core:icon identifier="actions-delete" size="small" />
                        </a>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</f:be.container>
</html>
